@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato/Lato-Regular.eot');
  src: url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
  url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg'),
  url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato/Lato-Bold.eot');
  src: url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato/Lato-Bold.ttf') format('truetype'),
  url('../fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg'),
  url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Krinkes Decor PERSONAL USE";
  src: url('../fonts/KrinkesDecorPersonalUse/KrinkesDecorPERSONALUSE.eot');
  src: url('../fonts/KrinkesDecorPersonalUse/KrinkesDecorPERSONALUSE.woff2') format('woff2'),
  url('../fonts/KrinkesDecorPersonalUse/KrinkesDecorPERSONALUSE.woff') format('woff'),
  url('../fonts/KrinkesDecorPersonalUse/KrinkesDecorPERSONALUSE.ttf') format('truetype'),
  url('../fonts/KrinkesDecorPersonalUse/KrinkesDecorPERSONALUSE.svg#KrinkesDecorPERSONALUSE') format('svg'),
  url('../fonts/KrinkesDecorPersonalUse/KrinkesDecorPERSONALUSE.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.eot');
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff') format('woff'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf') format('truetype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.eot');
  src: url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff') format('woff'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg'),
  url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}