footer.footer
    .footer__top
        .container
            .footer__shops
                h3.footer__title Shops
                .footer__item
                    a(href="#").footer__link New In
                .footer__item
                    a(href="#").footer__link Women
                .footer__item
                    a(href="#").footer__link Men
                .footer__item
                    a(href="#").footer__link Shoes
                .footer__item
                    a(href="#").footer__link Bags & Accessories
                .footer__item
                    a(href="#").footer__link Top Brands
                .footer__item
                    a(href="#").footer__link Sale & Special Offers
                .footer__item
                    a(href="#").footer__link Lookbook
            .footer__information
                h3.footer__title Information
                .footer__item
                    a(href="#").footer__link About us
                .footer__item
                    a(href="#").footer__link Customer Service
                .footer__item
                    a(href="#").footer__link New Collection
                .footer__item
                    a(href="#").footer__link Best Sellers
                .footer__item
                    a(href="#").footer__link Manufacturers
                .footer__item
                    a(href="#").footer__link Privacy policy
                .footer__item
                    a(href="#").footer__link Terms & condition
                .footer__item
                    a(href="#").footer__link Blog
            .footer__service
                h3.footer__title Customer service
                .footer__item
                    a(href="#").footer__link Search Terms
                .footer__item
                    a(href="#").footer__link Advanced Search
                .footer__item
                    a(href="#").footer__link Orders and Returns
                .footer__item
                    a(href="#").footer__link Contact Us
                .footer__item
                    a(href="#").footer__link RSS
                .footer__item
                    a(href="#").footer__link Help & FAQs
                .footer__item
                    a(href="#").footer__link Consultant
                .footer__item
                    a(href="#").footer__link Store Locations
            .footer__communication
                h3.footer__title Stay Connected
                ul.footer__socials
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            i.fa.fa-facebook.footer__socials-sign
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            i.fa.fa-twitter.footer__socials-sign
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            i.fa.fa-instagram.footer__socials-sign
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            i.fa.fa-pinterest.footer__socials-sign
                    li.footer__socials-item
                        a(href="#").footer__socials-link
                            i.fa.fa-rss.footer__socials-sign
                h3.footer__title Subscribe
                    span.footer__title-italic-span  in
                    |  our news letter
                form.subscribe
                    input.subscribe__email(name="email" placeholder="Enter Your Email Address")
                    input.subscribe__submit(type="submit" value="Subscribe")
    .footer__bottom
        .container
            .footer__bottom-info
                .footer__copyright
                    p &copy; 2015 Shopia Fashion Store Shopify
                    p All Rights Reserved. Ecommerce Software by Shopify.
                    p Designed by MoccaLabs.com
                ul.footer__pay-icons
                    li.footer__pay-icon.footer__pay-icon_visa
                    li.footer__pay-icon.footer__pay-icon_mastercard
                    li.footer__pay-icon.footer__pay-icon_american-express
                    li.footer__pay-icon.footer__pay-icon_discover
            .footer__bottom-btn-up
                .btn-up
                    i.fa.fa-chevron-up