header.header
    .header__top
        .container
            .header__phone
                i.fa.fa-phone.header__phone-sign
                .header__phone-number Call +001 555 801
            ul.header__control
                li.header__control-item
                    a(href="#").header__control-link Welcome MSG!
                li.header__control-item
                    a(href="#").header__control-link My account
                li.header__control-item
                    a(href="#").header__control-link My wishlist
                li.header__control-item
                    a(href="#").header__control-link Login
    .header__bottom
        .container
            .header__bottom-left
                ul.header__links
                   li.header__links-item
                    a(href="#").header__links-link Home
                   li.header__links-item
                    a(href="#").header__links-link Gallery
                   li.header__links-item
                    a(href="#").header__links-link Categories
                   li.header__links-item
                    a(href="#").header__links-link Pages
            h1.header__title Shophia
            .header__bottom-right
                ul.header__socials
                    li.header__socials-item
                        a(href="#").header__socials-link
                            i.fa.fa-facebook.header__socials-sign
                    li.header__socials-item
                        a(href="#").header__socials-link
                            i.fa.fa-twitter.header__socials-sign
                    li.header__socials-item
                        a(href="#").header__socials-link
                            i.fa.fa-pinterest.header__socials-sign
                    li.header__socials-item
                        a(href="#").header__socials-link
                            i.fa.fa-instagram.header__socials-sign
                .header__select
                    i.fa.fa-chevron-down.header__select-chevron
                    select.header__select-money(name="select-money")
                        option(value="" hidden disabled selected) Currency
                        option(name="rupiah") Rupiah
                        option(name="euro") Euro
                        option(name="Dollar USA") Dollar USA