.support
    .container
        ul.support__list
            li.support__item.support__item_left
                .support__item-sign
                    i.fa.fa-plane
                .support__text
                    h2.support__title Free shipping
                    .support__desc In Order Min $200
            li.support__item.support__item_middle
                .support__item-sign
                    i.fa.fa-clock-o
                .support__text
                    h2.support__title 30-days returns
                    .support__desc Money Back Guarantee
            li.support__item.support__item_right
                .support__item-sign
                    i.fa.fa-life-ring
                .support__text
                    h2.support__title 24/7 supports
                    .support__desc Lifestyme Support