section.brands
    .container
        .section-header.brands__header
            .section-title-left
            h2.section-title Our Brand
            .section-title-right
        .brands__content
            ul.brands__list
                li.brands__item
                    img(src="img/content/bakery.png")
                li.brands__item
                    img(src="img/content/cavalier.png")
                li.brands__item
                    img(src="img/content/harvest.png")
                li.brands__item
                    img(src="img/content/landlock.png")
                li.brands__item
                    img(src="img/content/spectrum.png")
                li.brands__item
                    img(src="img/content/home-energy.png")