section.customers
    .container.container_customers-header
        .section-header.customers__header
            .section-title-left
            h2.section-title Customer Says
            .section-title-right
    .customers__content
        .container
            .customers__left
                img(src="img/content/customer-1.png" alt="Sandra Dewi").customers__photo
                .customers__text
                    .customers__text-desc Sed ut perspiciatis unde omnis iste natus error
                        |  sit voluptatem accusantium doloremque
                    .customers__text-name Sandra Dewi
                    .customers__text-work Fashion Stylish
            .customers__right
                .customers__text
                    .customers__text-desc Sed ut perspiciatis unde omnis iste natus error
                        |  sit voluptatem accusantium doloremque
                    .customers__text-name Shaheer Sheikh
                    .customers__text-work Designer
                img(src="img/content/customer-2.png" alt="Shaheer Sheikh").customers__photo