section.handpicked
    .container
        .section-header.handpicked__header
            .section-title-left
            h2.section-title HandPicked
            .section-title-right
        .handpicked__content
            .handpicked__content-left
                .handpicked__content-square.handpicked__content-square_boots
                    .handpicked__content-btn Shop now
                .handpicked__content-square.handpicked__content-square_jewelry
                    .handpicked__content-btn Shop now
            .handpicked__content-middle
                .handpicked__content-long.handpicked__content-long_hilton
                    .handpicked__content-btn Shop now
            .handpicked__content-right
                .handpicked__content-square.handpicked__content-square_50off
                    .handpicked__content-btn Shop now
                .handpicked__content-square.handpicked__content-square_case
                    .handpicked__content-btn Shop now