section.slider
    .container
        .slider__content
            .slider__content-border
                .slider__season Mid-season
                h2.slider__title Sale
                .slider__up Up to
                    .slider__up-left
                    .slider__up-right
                .slider__off 50% off
        .slider__btn
            a(href="#").slider__btn-link Shop now
        ul.slider__toggles
            li.slider__toggles-item
                a(href="#").slider__toggles-link
            li.slider__toggles-item.slider__toggles-item_active
                a(href="#").slider__toggles-link
            li.slider__toggles-item
                a(href="#").slider__toggles-link
            li.slider__toggles-item
                a(href="#").slider__toggles-link