section.slider
    .container
        .slider__content
            .slider__content-border
                .slider__season Mid-season
                h2.slider__title Sale
                .slider__up Up to
                .slider__off 50% off
        .slider__btn
        ul.slider__toggles