section.summer
    .container
        .section-header.summer__header
            .section-title-left
            h2.section-title Summer Collection
            .section-title-right
        .summer__content
            ul.summer__list
                li.summer__item(style="background-image: url('img/content/summer-1.jpg')")
                    .summer__discount 20
                        sup.summer__discount-percent  %
                    .summer__btn.summer__btn_orange + Add to cart
                li.summer__item(style="background-image: url('img/content/summer-2.jpg')")
                    .summer__btn + Add to cart
                li.summer__item(style="background-image: url('img/content/summer-3.jpg')")
                    .summer__btn + Add to cart
                li.summer__item(style="background-image: url('img/content/summer-4.jpg')")
                    .summer__discount 20
                        sup.summer__discount-percent  %
                    .summer__btn + Add to cart
                li.summer__item(style="background-image: url('img/content/summer-5.jpg')")
                    .summer__discount 20
                        sup.summer__discount-percent  %
                    .summer__btn.summer__btn_orange + Add to cart
                li.summer__item(style="background-image: url('img/content/summer-6.jpg')")
                    .summer__btn + Add to cart
                li.summer__item(style="background-image: url('img/content/summer-7.jpg')")
                    .summer__btn + Add to cart
                li.summer__item(style="background-image: url('img/content/summer-8.jpg')")
                    .summer__discount 20
                        sup.summer__discount-percent  %
                    .summer__btn + Add to cart